@use "./../variables/" as *;

.center {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    text-align: center;
  }

  img {
    animation: float 2s infinite alternate linear;
  }

  @keyframes float {
    from {
      transform: translateY(20px);
    }
    to {
      transform: translateY(-20px);
    }
  }

  p {
    text-align: center;
    font-size: 3rem;
    font-family: $logo-font;
    position: relative;
  }
}
