@use "./../variables/" as *;
@use "./../abstracts/" as *;

.skills {
  gap: 30px;
  display: grid;
  &__box {
    background: $bg-light;
    padding: 2em;
    border-radius: 10px;
    border-top: 5px solid $primary-clr;
    &__title {
      font-family: $logo-font;
      font-weight: lighter;
      margin-bottom: 1em;
      font-size: 2.3rem;
    }
    &__skills {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      &__skill {
        display: flex;
        align-items: center;
        gap: 20px;
        img {
          width: 40px;
          height: 40px;
        }
        &--name {
          text-transform: capitalize;
        }
      }
    }
  }
  @include mq(xl) {
    grid-template-columns: repeat(2, 1fr);
    &__box {
      border-top: none;
      border-left: 5px solid $primary-clr;
    }
  }
}
