@use "./../variables/" as *;
@use "./../abstracts/" as *;

.skills {
  gap: 30px;
  display: grid;
  &__box {
    background: $bg-light;
    padding: 2em;
    border-radius: 10px;
    border-top: 5px solid $primary-clr;
    &__title {
      font-family: $logo-font;
      font-weight: lighter;
      margin-bottom: 1em;
      font-size: 2.3rem;
    }
    &__skills {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, 40px);
      gap: 30px;
      img {
        width: 40px;
        height: 40px;
      }
      @include mq(sm) {
        grid-template-columns: repeat(auto-fill, 50px);
        img {
          height: 50px;
          width: 50px;
        }
      }
    }
  }
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    &__box {
      border-top: none;
      border-left: 5px solid $primary-clr;
    }
  }
}
