@use "./../variables/" as *;

.footer {
  margin-top: 30px;
  .container {
    border-top: 1px solid #ffffff20;
    padding: 3em 0;
  }
  ul {
    width: 100%;
    display: flex;
    list-style: none;
    margin-bottom: 1em;
    &.links-list {
      justify-content: space-around;
      li {
        a {
          text-decoration: none;
          color: white;
          transition: 100ms ease-in-out;
          &:hover {
            color: $primary-clr;
          }
        }
      }
    }
    &.social-list {
      justify-content: center;
      gap: 1em;
      li {
        font-size: 1.1rem;
        a {
          color: $primary-clr;
        }
      }
    }
  }
}
